{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Attendance Submitted - College Attendance Portal</title>
    <link rel="stylesheet" href="{% static 'StudentView/submitted.css' %}" />
  </head>
  <body>
    <header class="header">
      <h1 class="header-title">MIT World Peace University</h1>
      <h2>Attendance Portal - DSBDA</h2>
    </header>

    <div class="container">
      <div class="papa-container">
        <h2>Attendance submitted successfully.</h2>
        <br />
        <h2>You may close this page.</h2>
      </div>
    </div>

    <footer class="footer">
      <p>&copy; QR Attendance System</p>
    </footer>
  </body>
</html>
